*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    height: 20rem;
    width: 20rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
}

button{
        max-width: 100%;
        width: 8rem;
        max-height: 95%;
        height: 3rem;
        border-radius: 10px;
        outline: none;
        background-color: aqua;

}
button:hover{
    background-color: bisque;
    transition: background 0.5s ease-in;
}
h1{
    margin-top: 20px;
    color: red;
}